@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css');

* {
  font-family: Pretendard;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #5a5a55;
  background: #edece9;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input {
  font-size: 1.2rem;
}

button {
  font-size: 1rem;
  cursor: pointer;
  background: #313131;
  color: #d7d7d7;
}
